<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><img src="images/sweebr.png" alt="Sweebr Up!"> 
      <span class="text-muted">Up!</span>
      <a href="" class="btn btn-default btn-sm pull-right">
        <span class="glyphicon glyphicon-log-out"></span> I'm leaving!</a>
    </h3>
  </div>
  <div class="panel-body chat-body"></div>
  <div class="panel-footer">
    <textarea class="form-control" rows="3" placeholder="Say what you think.."></textarea>
  </div>
</div>