<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Let's Sweebr Up!</h2>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label class="control-label">Conversation</label>
             <input class="form-control input-lg" type="text" 
                    placeholder="Start new conversation or join existing" autofocus>
          </div>
          <div class="form-group">
            <label class="control-label">Nickname</label>
            <input class="form-control input-lg" type="text" placeholder="You in the conversation"> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="$hide()">
          <span class="glyphicon glyphicon-ok"></span> Join
        </button>
      </div>
    </div>
  </div>
</div>